# Database vendor (postgresql, mysql, sqlite, oracle)
DB_VENDOR=postgresql

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DATABASE={{APP_NAME}}

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE={{APP_NAME}}

# SQLite
SQLITE_FILE=./{{APP_NAME}}.db

# Oracle
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_USER=system
ORACLE_PASSWORD=
ORACLE_SERVICE={{APP_NAME}}
