DATABASE_URL=postgresql://postgres:postgres@localhost:5432/{{PROJECT_NAME}}
MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret-jwt-change-me
COOKIE_SECRET=supersecret-cookie-change-me
